<%= render 'shared/de_nav_links',:active => "college" %>
<div class="span9">
  <%= simple_form_for @institution, :html => { :class => 'form-horizontal' } do |f| %>
  <legend> New Institution </legend>
    <%= render 'institution_fields', :f => f %>
    <div class="form-actions">
  	  <%= render 'shared/buttons', :obj => @institution, :buttons => {'submit' => "Create", "cancel" => "Cancel" }%>
    </div>  
  <% end %>
</div>



