<div id="left-nav">
</div>

<div id="container">	
  <h1> Edit Tenant </h1>
  <%= labeled_form_for @tenant do |f| %>
    <%= render 'tenant_fields', :f => f %>
    <%= f.submit %>
  <% end %>
</div>
<div id="side-bar">
  <%= render 'shared/semi_index', :model_name => "Tenant",
 															  :columns => ['name', 'activated', 'locked'] %>
</div> 															  