<div class="span11">
  <%= form_tag password_resets_path, :method => :post, :class => 'form-horizontal' do |f| %>
  <legend> Password Reset </legend>
  <fieldset>
    <div class="control-group">
	  <label class="control-label">Login</label>
	  <div class="controls">
   	     <%= text_field_tag :login, params[:login], :placeholder => 'ID Number' %> 
   	  </div>
  	</div>
  	<div class="form-actions">
  	  <%= render 'shared/buttons', :buttons => {'submit' => "Reset My Password" }%>
    </div>    	
  </fieldset>
  <% end %>
</div>