<ul class="nav nav-pills">        
  <% if active == "sections"%>
    <li class= "active">
      <%= link_to sections_path do %>
        <i class="icon-file"> </i> <strong> Sections </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to sections_path do %>
        <i class="icon-file"> </i> <strong> Sections </strong>
      <% end %>   
    </li>
  <% end %>  	
  <% if active == "students"%>
    <li class= "active">
      <%= link_to students_path do %>
        <i class="icon-file"> </i> <strong> Students </strong>
      <% end %>   
    </li>
  <% else %>
    <li>
      <%= link_to students_path do %>
        <i class="icon-file"> </i> <strong> Students </strong>
      <% end %>   
    </li>
  <% end %>
</ul>
