<% if for_role == 'data_entry' %>
  <div class="span2">
  <ul class="nav nav-list">
   <li class="nav-header">MASTER LIST </li>
   <li class="active"><a href="#"><i class="icon-white icon-home"></i> College</a></li>
   <li><a href="#"><i class="icon-book"></i> Semesters</a></li>
   <li><a href="#"><i class="icon-pencil"></i> Departments</a></li>
   <li><a href="#"><i class="icon-pencil"></i> Teachers</a></li>
   <li><a href="#"><i class="icon-pencil"></i> Batches</a></li>
   <li><a href="#"><i class="icon-pencil"></i> Subjects</a></li>
     <li><a href="#"><i class="icon-pencil"></i> Exams</a></li>
   <li class="nav-header">DATA ENTRY </li>
   <li><a href="#"><i class="icon-user"></i> Associate Batches </a></li>
   <li><a href="#"><i class="icon-cog"></i> Associate Subjects</a></li>
   <li class="divider"></li>
   <li><a href="#"><i class="icon-flag"></i> User Profiles </a></li>
   <li><a href="#"><i class="icon-flag"></i> Permissions and Roles </a></li>
   <li><a href="#"><i class="icon-flag"></i> Settings</a></li>
  </ul>
  </div>
<% end %>
<% if for_role == 'admin' %>
  <div class="span2">
  <ul class="nav nav-list">
    <li class="nav-header">List header</li>
    <li class="active"><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
    <li><a href="#"><i class="icon-book"></i> Library</a></li>
    <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
    <li class="nav-header">Another list header</li>
    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
    <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="icon-flag"></i> Help</a></li>
  </ul>
  </div>
<% end %>