<% @semesters = Semester.all %>
<% @batches = Array.new if !@batches %>
<% @sections = Array.new if !@sections %>
<%= render 'shared/de_nav_links', :active => "associate_semesters" %>
<div class="span9">
  <%= render 'shared/de_semesters_nav_pills', :active => "faculties"%>
  <%= render 'selectors/form', :target_url => '/sections/faculties' %>
  <span id = "ajax_faculties_form">  
    <% if @section && @semester %>
      <%= render 'faculties_form'%>
    <% else %>
      <strong> Select the required semester and the section </strong>
    <% end %>
  </span>  
</div>