<% @sections = Array.new if !@sections %>
<% @exams = Array.new if !@exams %>
<%= render 'shared/de_nav_links', :active => "associate_semesters" %>
<div class="span9">
  <%= render 'shared/de_semesters_nav_pills', :active => "marks"%>
  <%= render 'selectors/marks_form', :target_url => '/sections/marks' %>
  <span id = "ajax_marks_form">  
    <% if @section && @semester && @exam %>
      <%= render 'marks_form'%>
    <% else %>
      <strong> Select the required semester, section and exam </strong>
    <% end %>
  </span>  
</div>