<% semester_id = params[:semester_id] %>
<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span6">
  <%= render 'shared/de_batches_nav_pills', :active => "sections"%>
  <%= render 'subjects_form', :section => @section, :semester_id => semester_id %>
  </span>
</div>

<%= render 'shared/semi_index', :model_name => "Section" %>