<%= f.input :activated %>
<%= f.input :locked %>
<div class="control-group">
  <label class="control-label">Roles</label>
  <div class="controls">
  	<% Role.all.each do |role| %>
    <label class="checkbox">
      <%= check_box_tag "user_profile[role_ids][]", role.id, f.object.role_ids.include?(role.id) %> <%= role.name  %> 
    </label>
    <% end %>
    <p class="help-block"><strong>Select the roles for this user </strong></p>
  </div>
</div>

