<div class="control-group">
  <%= label_tag "Semester",nil, :class=> "control-label" %>
<div class="controls">
  <%= select( 'selector', 'semester_id', @semester_selector.collect {|sem| [ sem.name, sem.id ] }, {:include_blank => true}) %> 	  	
</div>