<% @semesters = Array.new if !@semesters %>
<% @batches = Array.new if !@batches %>
<% @sections = Array.new if !@sections %>
<%= render 'shared/de_nav_links', :active => "associate_batches" %>
<div class="span6">
  <%= render 'shared/de_batches_nav_pills', :active => "sections"%>
  <%= render 'form' %>
</div>

<%= render 'shared/semi_index', :model_name => "Section" %>