<% @sections = Array.new if !@sections %>
<% @exams = Array.new if !@exams %>
<div class="span9">
  <%= render 'selectors/reports_form', :target_url => '/reports' %>
  <span id = "ajax_faculties_form">  
    <% if @section && @semester %>
      <%= render 'form'%>
    <% else %>
      <strong> Select the required semester and the section </strong>
    <% end %>
  </span>  
</div>
