<% @sections = Array.new if !@sections %>
<% @exams = Array.new if !@exams %>
<div class="span9">
  <%= render 'selectors/reports_form', :target_url => '/reports' %>
  <span id = "ajax_reports">  
    <% if @marks %>
      <%= render 'one_section_one_semester_all_exams_with_assignments_with_arrear_entries'%>
    <% else %>
      <strong> Select the filter values </strong>
    <% end %>
  </span>  
</div>
